fastapi
uvicorn
sqlmodel
psycopg2-binary
pydantic
pydantic-settings
email-validator
python-dotenv
python-multipart
google-genai
python-telegram-bot
passlib[bcrypt]
python-jose[cryptography]
alembic
jinja2
resend